#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}