#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Category_3-options {
  background-color: transparent;
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_56 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_11 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_13 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_15 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Rectangle_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_17 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  width: 150px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-08a36c6e-1bf4-496a-9811-990cef3d6f77 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}