#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}