#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_19 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-checkbox-on-light_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Category_3-options {
  background-color: transparent;
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Rectangle_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2c592e6f-154b-4454-a810-e70e6bb7ec04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}