#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}