#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57f728eb-7d77-4798-b0f9-b8cb5c3603a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}