#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 900px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_1 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 1597px;
  height: 894px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 272px;
  height: 900px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 272px;
  width: 1327px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Search-input_1 {
  position: absolute;
  top: 10px;
  left: 839px;
  width: 546px;
  height: 46px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 51px;
  width: 491px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 0px #999999;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_11 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_11 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_28 {
  position: absolute;
  top: 10px;
  left: 310px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_28 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-input {
  position: absolute;
  top: 15px;
  left: 886px;
  width: 486px;
  height: 32px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 481px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Line_4 {
  display: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 1511px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_2 {
  position: absolute;
  top: 17px;
  left: 303px;
  width: 342px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Group_2 {
  position: absolute;
  top: 143px;
  left: 329px;
  width: 817px;
  height: 530px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_2 {
  position: absolute;
  top: 77px;
  left: 0px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_4 {
  position: absolute;
  top: 151px;
  left: 0px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_5 {
  position: absolute;
  top: 226px;
  left: 0px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_3 {
  position: absolute;
  top: 91px;
  left: 24px;
  width: 234px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_3 span#rtr-s-Text_3_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 306px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 span#rtr-s-Text_4_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_4 span#rtr-s-Text_4_3 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_5 {
  position: absolute;
  top: 165px;
  left: 24px;
  width: 234px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_5 span#rtr-s-Text_5_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_6 {
  position: absolute;
  top: 241px;
  left: 24px;
  width: 292px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_5 {
  position: absolute;
  top: 12px;
  left: 754px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_13 {
  position: absolute;
  top: 306px;
  left: 2px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_18 {
  position: absolute;
  top: 320px;
  left: 26px;
  width: 234px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_18 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_18 span#rtr-s-Text_18_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_18 span#rtr-s-Text_18_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_14 {
  position: absolute;
  top: 385px;
  left: 5px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_21 {
  position: absolute;
  top: 399px;
  left: 29px;
  width: 234px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_21 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_21 span#rtr-s-Text_21_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_21 span#rtr-s-Text_21_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_15 {
  position: absolute;
  top: 465px;
  left: 2px;
  width: 810px;
  height: 63px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_22 {
  position: absolute;
  top: 478px;
  left: 26px;
  width: 280px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_22 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_22 span#rtr-s-Text_22_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_22 span#rtr-s-Text_22_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_6 {
  position: absolute;
  top: 90px;
  left: 756px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_7 {
  position: absolute;
  top: 162px;
  left: 756px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_8 {
  position: absolute;
  top: 241px;
  left: 756px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_9 {
  position: absolute;
  top: 318px;
  left: 758px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_10 {
  position: absolute;
  top: 399px;
  left: 758px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_12 {
  position: absolute;
  top: 479px;
  left: 757px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-input_1 {
  position: absolute;
  top: 143px;
  left: 1173px;
  width: 397px;
  height: 32px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 392px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 397px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Line_6 {
  display: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 218px;
  left: 1173px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_5 {
  width: 396px;
  height: 206px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 393px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_23 {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 204px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_23 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_23 span#rtr-s-Text_23_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 134px;
  left: 110px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_2 {
  width: 243px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 21px;
  left: 19px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_10 {
  width: 271px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_13 {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 284px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_3 {
  display: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Ellipse_3 .content {
  width: 15px;
  height: 15px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Ellipse_3 {
  position: absolute;
  top: 11px;
  left: 21px;
  width: 15px;
  height: 15px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_14 {
  position: absolute;
  top: 18px;
  left: -262px;
  width: 284px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Contact-mark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 37px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_12 {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 21px;
  height: 19px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_12 span {
  color: #4054B2;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #4054B2;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 37px;
  position: absolute;
  overflow: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Ellipse_13 .content {
  width: 40px;
  height: 37px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 7px;
  width: 40px;
  height: 37px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_20 {
  position: absolute;
  top: 156px;
  left: 14px;
  width: 92px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_19 {
  position: absolute;
  top: 158px;
  left: 360px;
  width: 22px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Select {
  position: absolute;
  top: 70px;
  left: 14px;
  width: 341px;
  height: 32px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Category_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Category_3 .valign {
  width: 318px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_1 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Line_2 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #shapewrapper-s-Line_2 {
  display: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Image_6 {
  position: absolute;
  top: 775px;
  left: 1164px;
  width: 413px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_13 {
  position: absolute;
  top: 154px;
  left: 1032px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_14 {
  position: absolute;
  top: 234px;
  left: 1032px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_15 {
  position: absolute;
  top: 305px;
  left: 1032px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_16 {
  position: absolute;
  top: 384px;
  left: 1032px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_16 span#rtr-s-Label_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_17 {
  position: absolute;
  top: 461px;
  left: 1026px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_17 span#rtr-s-Label_17_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_18 {
  position: absolute;
  top: 622px;
  left: 1024px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_18 span#rtr-s-Label_18_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_19 {
  position: absolute;
  top: 541px;
  left: 1027px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_19 span#rtr-s-Label_19_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Dynamic_Panel_7 {
  position: absolute;
  top: 267px;
  left: 1px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_6 {
  width: 270px;
  height: 475px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_1 {
  position: absolute;
  top: 133px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_7 {
  position: absolute;
  top: 186px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_7 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_7 span#rtr-s-Text_7_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_8 {
  position: absolute;
  top: 228px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_8 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_8 span#rtr-s-Text_8_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Image_4 {
  position: absolute;
  top: 138px;
  left: 232px;
  width: 26px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_11 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_11 span#rtr-s-Text_11_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_12 {
  position: absolute;
  top: 36px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_12 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_12 span#rtr-s-Text_12_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_12 span#rtr-s-Text_12_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_13 {
  position: absolute;
  top: 64px;
  left: 0px;
  padding-top: 4px;
  padding-left: 13px;
  width: 255px;
  height: 56px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_13 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_13 span#rtr-s-Text_13_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 {
  position: absolute;
  top: 325px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 span#rtr-s-Text_15_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 span#rtr-s-Text_15_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_15 span#rtr-s-Text_15_3 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 {
  position: absolute;
  top: 416px;
  left: 13px;
  width: 244px;
  height: 57px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 span#rtr-s-Text_26_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 span#rtr-s-Text_26_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_26 span#rtr-s-Text_26_3 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_33 {
  position: absolute;
  top: 263px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_33 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_33 span#rtr-s-Text_33_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_33 span#rtr-s-Text_33_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 {
  position: absolute;
  top: 364px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 span#rtr-s-Text_34_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 span#rtr-s-Text_34_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_34 span#rtr-s-Text_34_3 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 58px;
  left: 1143px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_4 {
  width: 422px;
  height: 319px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 422px;
  height: 319px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_24 {
  position: absolute;
  top: 112px;
  left: 159px;
  width: 101px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Animated-button-light {
  position: absolute;
  top: 184px;
  left: 13px;
  width: 147px;
  height: 35px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_17 {
  position: absolute;
  top: 0px;
  left: 8px;
  width: 129px;
  height: 31px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #80707A;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #80707A;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #80707A;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #80707A;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_17 span {
  color: #80707A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #80707A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 143px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #80707A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #80707A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #80707A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #80707A;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_25 {
  position: absolute;
  top: 182px;
  left: 267px;
  width: 122px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_1 {
  width: 1601px;
  height: 898px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1601px;
  height: 898px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1597px;
  height: 894px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.64;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_9 {
  position: absolute;
  top: 256px;
  left: 245px;
  width: 1242px;
  height: 64px;
  background-color: #106CC8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_11 {
  position: absolute;
  top: 318px;
  left: 245px;
  width: 1240px;
  height: 272px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_16 {
  position: absolute;
  top: 274px;
  left: 267px;
  width: 400px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_16 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_16 span#rtr-s-Text_16_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_4 {
  position: absolute;
  top: 275px;
  left: 1438px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_17 {
  position: absolute;
  top: 355px;
  left: 274px;
  width: 1180px;
  height: 180px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_17 span#rtr-s-Text_17_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Text_17 span#rtr-s-Text_17_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Flat-button-white {
  position: absolute;
  top: 520px;
  left: 1248px;
  width: 188px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Flat-button-white .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Flat-button-white span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Flat-button-white span#rtr-s-Flat-button-white_0 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 #s-Flat-button-white span#rtr-s-Flat-button-white_1 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8335f6c4-dcf8-491f-bfb2-edaed9b55ef2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}