#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 900px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1597px;
  height: 894px;
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_2 {
  position: absolute;
  top: 76px;
  left: 271px;
  width: 1326px;
  height: 206px;
  background-color: #106CC8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 14px 14px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 272px;
  height: 900px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 272px;
  width: 1327px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Search-input_1 {
  position: absolute;
  top: 10px;
  left: 839px;
  width: 546px;
  height: 46px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 51px;
  width: 491px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 0px #999999;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_11 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_11 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_28 {
  position: absolute;
  top: 10px;
  left: 310px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_28 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-input {
  position: absolute;
  top: 15px;
  left: 886px;
  width: 486px;
  height: 32px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 481px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Line_4 {
  display: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 1511px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 {
  position: absolute;
  top: 112px;
  left: 698px;
  width: 490px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 28.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 span#rtr-s-Text_1_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 {
  position: absolute;
  top: 17px;
  left: 303px;
  width: 508px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 span#rtr-s-Text_2_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 span#rtr-s-Text_2_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_9 {
  position: absolute;
  top: 196px;
  left: 303px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_9 {
  width: 353px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_3 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_4 {
  position: absolute;
  top: 29px;
  left: 0px;
  padding-left: 3px;
  width: 131px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 {
  position: absolute;
  top: 0px;
  left: 201px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_6 {
  position: absolute;
  top: 29px;
  left: 196px;
  padding-left: 3px;
  width: 131px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_8 {
  position: absolute;
  top: 308px;
  left: 324px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_8 {
  width: 794px;
  height: 463px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Group_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 794px;
  height: 47px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 792px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 {
  position: absolute;
  top: 9px;
  left: 22px;
  width: 137px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 {
  position: absolute;
  top: 9px;
  left: 249px;
  width: 178px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 span#rtr-s-Text_9_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_3 {
  position: absolute;
  top: 8px;
  left: 744px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Group_3 {
  position: absolute;
  top: 236px;
  left: 1px;
  width: 794px;
  height: 47px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 792px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 {
  position: absolute;
  top: 9px;
  left: 18px;
  width: 119px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 {
  position: absolute;
  top: 9px;
  left: 249px;
  width: 178px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 span#rtr-s-Text_10_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_4 {
  position: absolute;
  top: 8px;
  left: 744px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Group_5 {
  position: absolute;
  top: 282px;
  left: 0px;
  width: 794px;
  height: 175px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 790px;
  height: 171px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_11 {
  position: absolute;
  top: 15px;
  left: 17px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_12 {
  width: 309px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_40 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_41 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_41 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_42 {
  position: absolute;
  top: 0px;
  left: 201px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_42 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_43 {
  position: absolute;
  top: 29px;
  left: 196px;
  width: 101px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_44 {
  position: absolute;
  top: 44px;
  left: 570px;
  width: 190px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_44 span#rtr-s-Text_44_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_44 span#rtr-s-Text_44_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_45 {
  position: absolute;
  top: 95px;
  left: 17px;
  width: 736px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_46 {
  position: absolute;
  top: 10px;
  left: 570px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_46 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Group_1 {
  position: absolute;
  top: 355px;
  left: 324px;
  width: 794px;
  height: 175px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 790px;
  height: 171px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_10 {
  position: absolute;
  top: 17px;
  left: 17px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_11 {
  width: 309px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_33 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_34 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_35 {
  position: absolute;
  top: 0px;
  left: 201px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_35 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_36 {
  position: absolute;
  top: 29px;
  left: 196px;
  width: 101px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_38 {
  position: absolute;
  top: 44px;
  left: 570px;
  width: 190px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_38 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_38 span#rtr-s-Text_38_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_38 span#rtr-s-Text_38_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_39 {
  position: absolute;
  top: 95px;
  left: 15px;
  width: 746px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_39 .valign {
  vertical-align: top;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_37 {
  position: absolute;
  top: 10px;
  left: 570px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_37 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 196px;
  left: 751px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_6 {
  width: 652px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_17 {
  position: absolute;
  top: 4px;
  left: 473px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_17 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 {
  position: absolute;
  top: 33px;
  left: 473px;
  width: 190px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 span#rtr-s-Text_18_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 span#rtr-s-Text_18_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 span#rtr-s-Text_19_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 span#rtr-s-Text_20_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 {
  position: absolute;
  top: 4px;
  left: 236px;
  width: 194px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 span#rtr-s-Text_21_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 {
  position: absolute;
  top: 29px;
  left: 236px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 span#rtr-s-Text_22_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 308px;
  left: 1173px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_5 {
  width: 396px;
  height: 286px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 393px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 204px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 span#rtr-s-Text_23_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Select {
  position: absolute;
  top: 61px;
  left: 12px;
  width: 341px;
  height: 32px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Category_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Category_3 .valign {
  width: 318px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_1 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_2 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Line_2 {
  display: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 103px;
  left: 12px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_3 {
  width: 341px;
  height: 123px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 140px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 span#rtr-s-Text_28_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_5 {
  position: absolute;
  top: 32px;
  left: 139px;
  width: 179px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_7 {
  position: absolute;
  top: 68px;
  left: 139px;
  width: 179px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_29 {
  position: absolute;
  top: 37px;
  left: 96px;
  width: 44px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_29 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_30 {
  position: absolute;
  top: 71px;
  left: 97px;
  width: 44px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_30 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 523px;
  left: 1290px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_2 {
  width: 243px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 21px;
  left: 19px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_10 {
  width: 271px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_13 {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 284px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_3 {
  display: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_3 .content {
  width: 15px;
  height: 15px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_3 {
  position: absolute;
  top: 11px;
  left: 21px;
  width: 15px;
  height: 15px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_14 {
  position: absolute;
  top: 18px;
  left: -262px;
  width: 284px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Contact-mark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 37px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_12 {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 21px;
  height: 19px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_12 span {
  color: #4054B2;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #4054B2;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 37px;
  position: absolute;
  overflow: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_13 .content {
  width: 40px;
  height: 37px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 7px;
  width: 40px;
  height: 37px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_6 {
  position: absolute;
  top: 801px;
  left: 1164px;
  width: 413px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_14 {
  position: absolute;
  top: 544px;
  left: 1193px;
  width: 92px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_13 {
  position: absolute;
  top: 547px;
  left: 1540px;
  width: 22px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Dynamic_Panel_7 {
  position: absolute;
  top: 267px;
  left: 1px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_7 {
  width: 270px;
  height: 475px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_7 {
  position: absolute;
  top: 133px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_7 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 {
  position: absolute;
  top: 186px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 span#rtr-s-Text_16_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 span#rtr-s-Text_16_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 {
  position: absolute;
  top: 232px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 span#rtr-s-Text_24_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 span#rtr-s-Text_24_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_4 {
  position: absolute;
  top: 138px;
  left: 232px;
  width: 26px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 span#rtr-s-Text_25_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 span#rtr-s-Text_25_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 {
  position: absolute;
  top: 36px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 span#rtr-s-Text_26_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 span#rtr-s-Text_26_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 {
  position: absolute;
  top: 64px;
  left: 0px;
  padding-top: 4px;
  padding-left: 13px;
  width: 255px;
  height: 56px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 span#rtr-s-Text_27_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 span#rtr-s-Text_27_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 {
  position: absolute;
  top: 445px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 span#rtr-s-Text_31_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 span#rtr-s-Text_31_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 {
  position: absolute;
  top: 325px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 span#rtr-s-Text_32_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 span#rtr-s-Text_32_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}