#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-checkbox-on-light_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e25ef06f-c8f3-44a3-a41a-828e114a86b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}