#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 900px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1597px;
  height: 894px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 192px;
  left: 623px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Panel_1 {
  width: 466px;
  height: 422px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_6 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 462px;
  height: 354px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 464px;
  height: 64px;
  background-color: #106CC8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Floating-label_2 {
  position: absolute;
  top: 160px;
  left: 62px;
  width: 341px;
  height: 34px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Group_14 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Input_7 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_13 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_14 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #shapewrapper-s-Line_14 {
  display: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Group_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_5 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Animated-button-light {
  position: absolute;
  top: 351px;
  left: 336px;
  width: 95px;
  height: 46px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 91px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 46px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Floating-label_3 {
  position: absolute;
  top: 279px;
  left: 62px;
  width: 341px;
  height: 32px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Group_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Input_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Input_8 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_15 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_16 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #shapewrapper-s-Line_16 {
  display: none;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Group_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_7 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Text_8 {
  position: absolute;
  top: 18px;
  left: 31px;
  width: 400px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Text_8 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}