#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 91px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}