#s-0017267f-5805-42e9-87b2-a3bbd04481e9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 900px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1597px;
  height: 1308px;
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_2 {
  position: absolute;
  top: 98px;
  left: 319px;
  width: 1130px;
  height: 64px;
  background-color: #106CC8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_6 {
  position: absolute;
  top: 160px;
  left: 319px;
  width: 1128px;
  height: 388px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 272px;
  height: 900px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 272px;
  width: 1327px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Search-input_1 {
  position: absolute;
  top: 10px;
  left: 839px;
  width: 546px;
  height: 46px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 51px;
  width: 491px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 0px #999999;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_11 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_11 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_28 {
  position: absolute;
  top: 10px;
  left: 310px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_28 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Select {
  position: absolute;
  top: 220px;
  left: 897px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Category_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Category_3 .valign {
  width: 318px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_1 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_2 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_2 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label {
  position: absolute;
  top: 431px;
  left: 885px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_12 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_6 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_12 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_12 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_4 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_1 {
  position: absolute;
  top: 291px;
  left: 886px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_10 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_10 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_3 span#rtr-s-Label_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_3 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_2 {
  position: absolute;
  top: 218px;
  left: 400px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_14 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_7 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_13 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_14 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_14 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_5 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Animated-button-light {
  position: absolute;
  top: 1124px;
  left: 1371px;
  width: 87px;
  height: 36px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 85px;
  height: 34px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_17 span#rtr-s-Button_17_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 87px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-input {
  position: absolute;
  top: 15px;
  left: 886px;
  width: 486px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 481px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_4 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_3 {
  position: absolute;
  top: 290px;
  left: 400px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_16 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_8 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_15 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_16 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_16 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_7 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_4 {
  position: absolute;
  top: 361px;
  left: 885px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_9 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_17 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_18 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_18 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 span#rtr-s-Label_7_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 span#rtr-s-Label_7_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_8 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 1511px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_1 {
  position: absolute;
  top: 116px;
  left: 341px;
  width: 400px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_1 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_2 {
  position: absolute;
  top: 17px;
  left: 303px;
  width: 342px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-checkbox-on-light_4 {
  position: absolute;
  top: 504px;
  left: 400px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-checkbox-on-light_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-checkbox-on-light_4 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-checkbox-on-light_4 span#rtr-s-checkbox-on-light_4_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_3 {
  position: absolute;
  top: 503px;
  left: 446px;
  width: 154px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_5 {
  position: absolute;
  top: 364px;
  left: 400px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_20 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_10 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_19 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_20 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_20 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 span#rtr-s-Label_8_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 span#rtr-s-Label_8_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 span#rtr-s-Label_8_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_9 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_6 {
  position: absolute;
  top: 430px;
  left: 401px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_22 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_11 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_21 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_22 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_22 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_11 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_4 {
  position: absolute;
  top: 364px;
  left: 931px;
  width: 154px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_12 {
  position: absolute;
  top: 603px;
  left: 327px;
  width: 1130px;
  height: 64px;
  background-color: #106CC8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_13 {
  position: absolute;
  top: 665px;
  left: 327px;
  width: 1128px;
  height: 440px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 {
  position: absolute;
  top: 621px;
  left: 349px;
  width: 400px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 span#rtr-s-Text_5_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_14 {
  position: absolute;
  top: 899px;
  left: 0px;
  width: 270px;
  height: 410px;
  background-color: #106CC8;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_15 {
  position: absolute;
  top: 665px;
  left: 327px;
  width: 1130px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_6 {
  position: absolute;
  top: 674px;
  left: 349px;
  width: 400px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_6 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_7 {
  position: absolute;
  top: 742px;
  left: 378px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_24 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_12 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_23 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_24 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_24 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_10 span#rtr-s-Label_10_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_16 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_16 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_8 {
  position: absolute;
  top: 743px;
  left: 886px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_26 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_13 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_25 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_26 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_26 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_12 span#rtr-s-Label_12_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_17 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_17 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_9 {
  position: absolute;
  top: 819px;
  left: 886px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_28 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_14 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_27 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_28 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_28 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_29 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 span#rtr-s-Label_13_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 span#rtr-s-Label_13_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_18 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_18 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_19 {
  position: absolute;
  top: 876px;
  left: 327px;
  width: 1130px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_7 {
  position: absolute;
  top: 884px;
  left: 349px;
  width: 400px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_7 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_10 {
  position: absolute;
  top: 964px;
  left: 378px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_30 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_15 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_29 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_30 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_30 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 span#rtr-s-Label_14_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 span#rtr-s-Label_14_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_20 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_20 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_11 {
  position: absolute;
  top: 965px;
  left: 886px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_32 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_16 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_16 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_31 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_32 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_32 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_15 span#rtr-s-Label_15_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_21 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_21 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_12 {
  position: absolute;
  top: 1026px;
  left: 378px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_34 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_17 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_17 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_33 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_34 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_34 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_16 span#rtr-s-Label_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_16 span#rtr-s-Label_16_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_22 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_22 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Floating-label_13 {
  position: absolute;
  top: 1027px;
  left: 885px;
  width: 341px;
  height: 34px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_36 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_18 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Input_18 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_35 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_36 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #shapewrapper-s-Line_36 {
  display: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Group_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 span#rtr-s-Label_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 span#rtr-s-Label_17_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 span#rtr-s-Label_17_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 span#rtr-s-Label_17_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_23 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_23 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Animated-button-light_1 {
  position: absolute;
  top: 1124px;
  left: 1224px;
  width: 138px;
  height: 36px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 136px;
  height: 34px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 span#rtr-s-Button_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 span#rtr-s-Button_19_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 span#rtr-s-Button_19_2 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 138px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_20 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_20 span#rtr-s-Button_20_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Dynamic_Panel_7 {
  position: absolute;
  top: 267px;
  left: 1px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Panel_6 {
  width: 270px;
  height: 475px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_8 {
  position: absolute;
  top: 133px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_8 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 {
  position: absolute;
  top: 186px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 span#rtr-s-Text_9_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 {
  position: absolute;
  top: 232px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 span#rtr-s-Text_10_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_4 {
  position: absolute;
  top: 138px;
  left: 232px;
  width: 26px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 span#rtr-s-Text_11_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 {
  position: absolute;
  top: 36px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 span#rtr-s-Text_12_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 span#rtr-s-Text_12_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 {
  position: absolute;
  top: 64px;
  left: 0px;
  padding-top: 4px;
  padding-left: 13px;
  width: 255px;
  height: 56px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 span#rtr-s-Text_13_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 {
  position: absolute;
  top: 445px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 span#rtr-s-Text_14_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 span#rtr-s-Text_14_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 {
  position: absolute;
  top: 325px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 span#rtr-s-Text_15_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 span#rtr-s-Text_15_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}