#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 85px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-checkbox-on-light_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 136px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0017267f-5805-42e9-87b2-a3bbd04481e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}