#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53984e9e-1aed-4c5c-b4ef-e28b1411a0e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}