#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 14px 14px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Category_3-options {
  background-color: transparent;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_13 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}