#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86420ff9-bc12-441d-9b22-3e5d4d10b6d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}