#s-9ea47095-7404-4b59-b320-22b9e13c3cef > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 900px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_1 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 1597px;
  height: 894px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 272px;
  height: 900px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 272px;
  width: 1327px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Search-input_1 {
  position: absolute;
  top: 10px;
  left: 839px;
  width: 546px;
  height: 46px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 51px;
  width: 491px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 0px #999999;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_11 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_11 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_11 span#rtr-s-Label_11_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_28 {
  position: absolute;
  top: 10px;
  left: 310px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_28 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_28 span#rtr-s-Label_28_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-input {
  position: absolute;
  top: 15px;
  left: 886px;
  width: 486px;
  height: 32px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 481px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 486px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Line_4 {
  display: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 1511px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_2 {
  position: absolute;
  top: 17px;
  left: 303px;
  width: 382px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_2 span#rtr-s-Text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-input_1 {
  position: absolute;
  top: 143px;
  left: 1173px;
  width: 397px;
  height: 32px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 392px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 397px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Line_6 {
  display: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_5 {
  position: absolute;
  top: 218px;
  left: 1173px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_5 {
  width: 396px;
  height: 357px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 393px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_23 {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 204px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_23 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_23 span#rtr-s-Text_23_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_23 span#rtr-s-Text_23_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_23 span#rtr-s-Text_23_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_2 {
  position: absolute;
  top: 268px;
  left: 109px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_2 {
  width: 243px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_3 {
  position: absolute;
  top: 21px;
  left: 19px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_10 {
  width: 271px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_13 {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 284px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_3 {
  display: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Ellipse_3 .content {
  width: 15px;
  height: 15px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Ellipse_3 {
  position: absolute;
  top: 11px;
  left: 21px;
  width: 15px;
  height: 15px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_14 {
  position: absolute;
  top: 18px;
  left: -262px;
  width: 284px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Contact-mark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 37px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_12 {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 21px;
  height: 19px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_12 span {
  color: #4054B2;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #4054B2;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 37px;
  position: absolute;
  overflow: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Ellipse_13 .content {
  width: 40px;
  height: 37px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 7px;
  width: 40px;
  height: 37px;
  background-color: #106CC8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_20 {
  position: absolute;
  top: 290px;
  left: 13px;
  width: 92px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_20 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_20 span#rtr-s-Text_20_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_19 {
  position: absolute;
  top: 292px;
  left: 359px;
  width: 22px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_6 {
  position: absolute;
  top: 62px;
  left: 12px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_4 {
  width: 370px;
  height: 117px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_30 {
  position: absolute;
  top: 82px;
  left: 43px;
  width: 64px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_30 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_30 span#rtr-s-Text_30_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_30 span#rtr-s-Text_30_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_31 {
  position: absolute;
  top: 55px;
  left: 43px;
  width: 64px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_31 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_31 span#rtr-s-Text_31_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_31 span#rtr-s-Text_31_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_32 {
  position: absolute;
  top: 28px;
  left: 43px;
  width: 64px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_32 span#rtr-s-Text_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_10 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_10 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_10 span#rtr-s-checkbox-on-light_10_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_11 {
  position: absolute;
  top: 55px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_11 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_11 span#rtr-s-checkbox-on-light_11_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_12 {
  position: absolute;
  top: 82px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_12 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_12 span#rtr-s-checkbox-on-light_12_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_33 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 115px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_33 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_33 span#rtr-s-Text_33_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_33 span#rtr-s-Text_33_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_33 span#rtr-s-Text_33_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_13 {
  position: absolute;
  top: 83px;
  left: 178px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_13 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_13 span#rtr-s-checkbox-on-light_13_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_24 {
  position: absolute;
  top: 83px;
  left: 221px;
  width: 103px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_24 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_24 span#rtr-s-Text_24_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_24 span#rtr-s-Text_24_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_18 {
  position: absolute;
  top: 57px;
  left: 221px;
  width: 64px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_18 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_18 span#rtr-s-Text_18_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_14 {
  position: absolute;
  top: 57px;
  left: 178px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_14 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_14 span#rtr-s-checkbox-on-light_14_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_25 {
  position: absolute;
  top: 28px;
  left: 221px;
  width: 64px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_25 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_25 span#rtr-s-Text_25_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_15 {
  position: absolute;
  top: 28px;
  left: 178px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_15 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-checkbox-on-light_15 span#rtr-s-checkbox-on-light_15_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Toggle-on-dark {
  position: absolute;
  top: 0px;
  left: 121px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_7 {
  width: 73px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_7 {
  position: absolute;
  top: 5px;
  left: 27px;
  width: 32px;
  height: 12px;
  background-color: #577E7A;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_17 {
  position: absolute;
  top: 0px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: 0px 0px 2px #404040;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_17 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_17 span#rtr-s-Label_17_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Toggle-on-dark_1 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_9 {
  width: 73px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_14 {
  position: absolute;
  top: 5px;
  left: 27px;
  width: 32px;
  height: 12px;
  background-color: #577E7A;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #577E7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #577E7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #577E7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #577E7A;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_14 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_18 {
  position: absolute;
  top: 0px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: 0px 0px 2px #404040;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_18 span {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_18 span#rtr-s-Label_18_0 {
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_11 {
  width: 76px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_15 {
  position: absolute;
  top: 5px;
  left: 27px;
  width: 32px;
  height: 12px;
  background-color: #666666;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_15 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_6 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: 0px 0px 4px #404040;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_6 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_6 span#rtr-s-Label_6_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_8 {
  width: 76px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_13 {
  position: absolute;
  top: 5px;
  left: 27px;
  width: 32px;
  height: 12px;
  background-color: #666666;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_13 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: 0px 0px 4px #404040;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_5 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_5 span#rtr-s-Label_5_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Select {
  position: absolute;
  top: 200px;
  left: 13px;
  width: 341px;
  height: 32px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Category_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Category_3 .valign {
  width: 318px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_1 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Line_2 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #shapewrapper-s-Line_2 {
  display: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_7 {
  position: absolute;
  top: 143px;
  left: 331px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_6 {
  width: 794px;
  height: 139px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 794px;
  height: 139px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_20 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 790px;
  height: 113px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 792px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_21 {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 166px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_21 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_21 span#rtr-s-Text_21_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_21 span#rtr-s-Text_21_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_11 {
  position: absolute;
  top: 59px;
  left: 11px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_14 {
  width: 309px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_14 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_35 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_35 span#rtr-s-Text_35_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_38 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_38 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_38 span#rtr-s-Text_38_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_39 {
  position: absolute;
  top: 0px;
  left: 201px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_39 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_39 span#rtr-s-Text_39_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_40 {
  position: absolute;
  top: 29px;
  left: 196px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_40 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_40 span#rtr-s-Text_40_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_12 {
  position: absolute;
  top: 57px;
  left: 355px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_15 {
  width: 251px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_15 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_43 {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 211px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_43 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_43 span#rtr-s-Text_43_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_44 {
  position: absolute;
  top: 32px;
  left: 6px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_44 span#rtr-s-Text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_44 span#rtr-s-Text_44_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Image_6 {
  position: absolute;
  top: 815px;
  left: 1165px;
  width: 413px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_8 {
  position: absolute;
  top: 303px;
  left: 331px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_12 {
  width: 794px;
  height: 139px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 794px;
  height: 139px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_22 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 790px;
  height: 113px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 792px;
  height: 46px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_22 {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 166px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_22 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_22 span#rtr-s-Text_22_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_22 span#rtr-s-Text_22_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_13 {
  position: absolute;
  top: 59px;
  left: 11px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_16 {
  width: 309px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_16 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_36 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_36 span#rtr-s-Text_36_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_41 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_41 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_41 span#rtr-s-Text_41_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_42 {
  position: absolute;
  top: 0px;
  left: 201px;
  width: 152px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_42 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_42 span#rtr-s-Text_42_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_45 {
  position: absolute;
  top: 29px;
  left: 196px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_45 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_45 span#rtr-s-Text_45_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_14 {
  position: absolute;
  top: 57px;
  left: 355px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_17 {
  width: 251px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_17 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_46 {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 211px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_46 span {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_46 span#rtr-s-Text_46_0 {
  color: #106CC8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_47 {
  position: absolute;
  top: 32px;
  left: 6px;
  width: 134px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_47 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_47 span#rtr-s-Text_47_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_47 span#rtr-s-Text_47_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Group_1 {
  position: absolute;
  top: 148px;
  left: 1019px;
  width: 99px;
  height: 32px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_12 {
  position: absolute;
  top: 0px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_12 span#rtr-s-Label_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Dynamic_Panel_9 {
  position: absolute;
  top: 267px;
  left: 1px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_13 {
  width: 270px;
  height: 475px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Panel_13 .verticalalign {
  vertical-align: top;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_1 {
  position: absolute;
  top: 133px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_1 span#rtr-s-Text_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_7 {
  position: absolute;
  top: 186px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_7 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_7 span#rtr-s-Text_7_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_7 span#rtr-s-Text_7_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_7 span#rtr-s-Text_7_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_8 {
  position: absolute;
  top: 232px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_8 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_8 span#rtr-s-Text_8_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_8 span#rtr-s-Text_8_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_8 span#rtr-s-Text_8_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Image_4 {
  position: absolute;
  top: 138px;
  left: 232px;
  width: 26px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_11 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_11 span#rtr-s-Text_11_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_11 span#rtr-s-Text_11_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_12 {
  position: absolute;
  top: 36px;
  left: 14px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_12 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_12 span#rtr-s-Text_12_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_12 span#rtr-s-Text_12_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_12 span#rtr-s-Text_12_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_13 {
  position: absolute;
  top: 64px;
  left: 0px;
  padding-top: 4px;
  padding-left: 13px;
  width: 255px;
  height: 56px;
  background-color: #267ED5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #267ED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #267ED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #267ED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #267ED5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_13 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_13 span#rtr-s-Text_13_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_13 span#rtr-s-Text_13_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_13 span#rtr-s-Text_13_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_14 {
  position: absolute;
  top: 445px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_14 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_14 span#rtr-s-Text_14_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_14 span#rtr-s-Text_14_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_14 span#rtr-s-Text_14_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_15 {
  position: absolute;
  top: 325px;
  left: 13px;
  width: 244px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_15 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_15 span#rtr-s-Text_15_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Text_15 span#rtr-s-Text_15_2 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Group_4 {
  position: absolute;
  top: 308px;
  left: 1019px;
  width: 99px;
  height: 32px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_13 {
  position: absolute;
  top: 0px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_13 span#rtr-s-Label_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_10 span#rtr-s-Label_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_4 {
  position: absolute;
  top: 0px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-9ea47095-7404-4b59-b320-22b9e13c3cef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}