#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb0af873-c527-4dcc-82e8-5bc7f0961900 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}